.backButton {
  padding: 8px 26px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease;
  margin: 5px;
  /* margin-left: 3%; */
}

.backButton:hover {
  background-color: #d4d4d4;
}
